In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('dataset/domain_realestate.csv')
df_sold = pd.read_csv('dataset/domain_realestate_sold.csv')

In [16]:
df_sold.head(5)

,Address_URL,Price,Address,Beds,Baths,Parking,Size,Type,Sold_by
0,https://www.domain.com.au/145-jeune-drive-acto...,"$1,700,000","145 Jeune Drive, \nACTON PARK TAS 7170",5\nBeds,3\nBaths,5\nParking,"10,040m²",House,SOLD BY PRIVATE TREATY 20 OCT 2025
1,https://www.domain.com.au/3-16-little-street-a...,"$820,000","3/16 Little Street, \nALBION QLD 4010",2\nBeds,1\nBath,1\nParking,NaN,Apartment / Unit / Flat,SOLD BY PRIVATE TREATY 20 OCT 2025
2,https://www.domain.com.au/104-117-pier-street-...,"$651,000","104/117 PIER STREET, \nALTONA VIC 3018",3\nBeds,2\nBaths,2\nParking,NaN,Apartment / Unit / Flat,SOLD BY PRIVATE TREATY 20 OCT 2025
3,https://www.domain.com.au/38a-seventh-avenue-a...,"$1,200,000","38A Seventh Avenue, \nALTONA NORTH VIC 3025",3\nBeds,2\nBaths,2\nParking,298m²,Townhouse,SOLD BY PRIVATE TREATY 20 OCT 2025
4,https://www.domain.com.au/123-picnic-road-arar...,"$970,000","123 Picnic Road, \nARARAT VIC 3377",5\nBeds,3\nBaths,6\nParking,"4,008m²",House,NaN

In [11]:
df['Beds'] = df['Beds'].apply(lambda x: x.replace("\nBed", "").replace("s", ""))
df['Baths'] = df['Baths'].apply(lambda x: x.replace("\nBath", "").replace("s", ""))
df['Parking'] = df['Parking'].apply(lambda x: x.replace("\nParking", ""))
df['Size'] = df['Size'].apply(lambda x: x.replace("m²", ""))

In [12]:
df.head(5)

,Address_URL,Price,Address,Beds,Baths,Parking,Size,Type
0,https://www.domain.com.au/8e-47-herdsman-parad...,"Offers $470,000+","8E/47 Herdsman Parade, \nWEMBLEY WA 6014",1,1,1,69,Apartment / Unit / Flat
1,https://www.domain.com.au/lot-1668-bushland-cr...,"$816,316","Lot 1668 Bushland Crescent, \nBANYA QLD 4551",4,2,2,402,New house and land
2,https://www.domain.com.au/lot-1668-bushland-cr...,"$803,491","Lot 1668 Bushland Crescent, \nBANYA QLD 4551",4,2,2,402,New house and land
3,https://www.domain.com.au/lot-1920-coochin-cou...,"$944,404","Lot 1920 Coochin Court, \nWHITE ROCK QLD 4306",4,2,2,512,New house and land
4,https://www.domain.com.au/lot-1920-coochin-cou...,"$949,119","Lot 1920 Coochin Court, \nWHITE ROCK QLD 4306",4,2,2,512,New house and land

In [15]:
df_sold['Type'].unique()

array(['House', 'Apartment / Unit / Flat', 'Townhouse',
       'Retirement Living', 'Duplex'], dtype=object)