In [1]:
from utils.address_process import parse_address

import pandas as pd
import re

In [2]:
df = pd.read_csv('dataset/domain_realestate.csv')
df_sold = pd.read_csv('dataset/domain_realestate_sold.csv')

In [3]:
df.head(10)

,Address_URL,Price,Address,Beds,Baths,Parking,Size,Type
0,https://www.domain.com.au/8e-47-herdsman-parad...,"Offers $470,000+","8E/47 Herdsman Parade, \nWEMBLEY WA 6014",1\nBed,1\nBath,1\nParking,69m²,Apartment / Unit / Flat
1,https://www.domain.com.au/lot-1668-bushland-cr...,"$816,316","Lot 1668 Bushland Crescent, \nBANYA QLD 4551",4\nBeds,2\nBaths,2\nParking,402m²,New house and land
2,https://www.domain.com.au/lot-1668-bushland-cr...,"$803,491","Lot 1668 Bushland Crescent, \nBANYA QLD 4551",4\nBeds,2\nBaths,2\nParking,402m²,New house and land
3,https://www.domain.com.au/lot-1920-coochin-cou...,"$944,404","Lot 1920 Coochin Court, \nWHITE ROCK QLD 4306",4\nBeds,2\nBaths,2\nParking,512m²,New house and land
4,https://www.domain.com.au/lot-1920-coochin-cou...,"$949,119","Lot 1920 Coochin Court, \nWHITE ROCK QLD 4306",4\nBeds,2\nBaths,2\nParking,512m²,New house and land
5,https://www.domain.com.au/lot-110-stone-boulev...,"$663,228","Lot 110 Stone Boulevard, \nRIVERBEND QLD 4280",4\nBeds,2\nBaths,2\nParking,392m²,New house and land
6,https://www.domain.com.au/lot-110-stone-boulev...,"$670,940","Lot 110 Stone Boulevard, \nRIVERBEND QLD 4280",4\nBeds,2\nBaths,2\nParking,392m²,New house and land
7,https://www.domain.com.au/lot-1185-new-road-mo...,"$749,350","Lot 1185 NEW ROAD, \nMORAYFIELD QLD 4506",3\nBeds,2\nBaths,1\nParking,403m²,New house and land
8,https://www.domain.com.au/lot-1185-new-road-mo...,"$776,596","Lot 1185 NEW ROAD, \nMORAYFIELD QLD 4506",3\nBeds,2\nBaths,1\nParking,403m²,New house and land
9,https://www.domain.com.au/lot-9054-new-road-wa...,"$686,993","Lot 9054 New Road, \nWALLOON QLD 4306",4\nBeds,2\nBaths,2\nParking,400m²,New house and land

In [6]:
df_sold.head(10)

,Address_URL,Price,Address,Beds,Baths,Parking,Size,Type,Sold_by
0,https://www.domain.com.au/145-jeune-drive-acto...,1700000.0,"145 Jeune Drive, ACTON PARK TAS 7170",5.0,3.0,5.0,10040.0,House,SOLD BY PRIVATE TREATY 20 OCT 2025
1,https://www.domain.com.au/3-16-little-street-a...,820000.0,"3/16 Little Street, ALBION QLD 4010",2.0,1.0,1.0,NaN,Apartment / Unit / Flat,SOLD BY PRIVATE TREATY 20 OCT 2025
2,https://www.domain.com.au/104-117-pier-street-...,651000.0,"104/117 PIER STREET, ALTONA VIC 3018",3.0,2.0,2.0,NaN,Apartment / Unit / Flat,SOLD BY PRIVATE TREATY 20 OCT 2025
3,https://www.domain.com.au/38a-seventh-avenue-a...,1200000.0,"38A Seventh Avenue, ALTONA NORTH VIC 3025",3.0,2.0,2.0,298.0,Townhouse,SOLD BY PRIVATE TREATY 20 OCT 2025
4,https://www.domain.com.au/123-picnic-road-arar...,970000.0,"123 Picnic Road, ARARAT VIC 3377",5.0,3.0,6.0,4008.0,House,NaN
5,https://www.domain.com.au/113-maxwells-avenue-...,1050000.0,"113 Maxwells Avenue, ASHCROFT NSW 2168",3.0,2.0,1.0,601.0,House,NaN
6,https://www.domain.com.au/27-thirteenth-avenue...,1045620.0,"27 Thirteenth Avenue, AUSTRAL NSW 2179",4.0,2.0,1.0,300.0,House,SOLD BY PRIVATE TREATY 20 OCT 2025
7,https://www.domain.com.au/13-thirteenth-avenue...,1077300.0,"13 Thirteenth Avenue, AUSTRAL NSW 2179",4.0,2.0,1.0,334.0,House,SOLD BY PRIVATE TREATY 20 OCT 2025
8,https://www.domain.com.au/17-thirteenth-avenue...,1059525.0,"17 Thirteenth Avenue, AUSTRAL NSW 2179",5.0,3.0,1.0,300.0,House,SOLD BY PRIVATE TREATY 20 OCT 2025
9,https://www.domain.com.au/19-thirteenth-avenue...,1060420.0,"19 Thirteenth Avenue, AUSTRAL NSW 2179",4.0,2.0,1.0,300.0,House,SOLD BY PRIVATE TREATY 20 OCT 2025

In [4]:
def clean_numberic(x):
    if pd.isna(x):
        return None
    x = x.replace("\n", "").strip()  
    x = re.sub(r"[^\d]", "", x)      
    return float(x) if x.isdigit() else None

In [5]:
cols_to_clean = ["Beds", "Baths", "Parking", "Price", "Size"]

df[cols_to_clean] = df[cols_to_clean].applymap(clean_numberic)
df_sold[cols_to_clean] = df_sold[cols_to_clean].applymap(clean_numberic)

df["Address"] = df["Address"].str.replace("\n", " ").str.strip()
df["Type"] = df["Type"].str.strip()
df_sold["Address"] = df_sold["Address"].str.replace("\n", " ").str.strip()
df_sold["Type"] = df_sold["Type"].str.strip()

C:\Users\quock\AppData\Local\Temp\ipykernel_66308\3424736659.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[cols_to_clean] = df[cols_to_clean].applymap(clean_numberic)
C:\Users\quock\AppData\Local\Temp\ipykernel_66308\3424736659.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_sold[cols_to_clean] = df_sold[cols_to_clean].applymap(clean_numberic)

In [19]:
df_parsed = df['Address'].apply(parse_address).apply(pd.Series)
df = pd.concat([df, df_parsed], axis=1)

In [7]:
df_parsed = df_sold['Address'].apply(parse_address).apply(pd.Series)
df_sold = pd.concat([df_sold, df_parsed], axis=1)

In [ ]:
df.to_csv('dataset/cleaned/domain_realestate_cleaned.csv', index=False)
df_sold.to_csv('dataset/cleaned/domain_realestate_sold_cleaned.csv', index=False)

In [15]:
from geopy.geocoders import Nominatim
import time

geolocator = Nominatim(user_agent="house_price_predictor")

def get_lat_lon(address):
    try:
        location = geolocator.geocode(address + ", Australia", timeout=10)
        if location:
            return location.latitude, location.longitude
    except Exception as e:
        print("Error:", e)
    return None, None

In [16]:
df['Address'][:5]

0         8E/47 Herdsman Parade,  WEMBLEY WA 6014
1     Lot 1668 Bushland Crescent,  BANYA QLD 4551
2     Lot 1668 Bushland Crescent,  BANYA QLD 4551
3    Lot 1920 Coochin Court,  WHITE ROCK QLD 4306
4    Lot 1920 Coochin Court,  WHITE ROCK QLD 4306
Name: Address, dtype: object

In [ ]:





latitudes, longitudes = [], []
for addr in df['Address'][:5]:
    lat, lon = get_lat_lon(addr)
    latitudes.append(lat)
    longitudes.append(lon)
    time.sleep(10)

In [14]:
print([latitudes, longitudes])

[[None, None, None, None, None, None, None, None, None, None], [None, None, None, None, None, None, None, None, None, None]]